* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

.container-blur {
	display: flex;
	height: 100%;
	backdrop-filter: blur(20px);
}

.slider {
	margin: auto;
	height: 80%;
	width: 60%;
	max-width: 600px;
	max-height: 500px;
	background-color: salmon;
}

.slider .slider-viewer {
	position: relative;
	height: 80%;
}

.slider .controls {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	z-index: 10;
}

.btn-left, .btn-right {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .5rem;
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	background-color: white;
}

.btn-left:hover, .btn-right:hover {
	background-color: lightblue;
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}

.slider .slider-img {
	position: absolute;
	inset: 0;
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.slider .slider-img.active {
	display: block;
}

.slider .thumbs {
	position: relative;
	display: flex;
	height: 20%;
}

.slider .thumb-img {
	flex: 1 0 0;
	min-width: 0;
	height: 100%;
	object-fit: cover;
	object-position: center;
	filter: brightness(.4);
}

.slider .thumb-img.active {
	border: 5px solid white;
	filter: brightness(1);
}