* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slider {
    position: relative;
    /* margin: auto; */
    height: 60%;
    width: 60%;
    /* max-width: 600px;
    max-height: 400px; */
    background-color: salmon;
}

.controls {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.btn-up, .btn-down {
    margin: .5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: white;
}


.slider-img {
    display: none;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.active {
    display: block;
}

.thumbnail {
    position: relative;
    height: 60%;
    width: 15%;
    background-color: blue;
}

.thumbnail-img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
}

.thumbnail-img-container {
    position: relative;
    width: 100%;
    height: 20%;
}


.dark {
	filter: brightness(.4);
}

.light {
	border: 3px solid gray;
	filter: brightness(1);
}

.block {
	position: absolute;
	color: white;
}

